<div class="display-block">
    {{#each list}}
        <div>
        <h3>{{formatDate dt}}</h3>
        	<img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="">{{weather.0.main}}
        </div>
    {{/each}}
</div>