<div class="entry">
	<label for="searchType">Search By</label>
	<select name="searchType" id="searchType">
		<option value="city">By City</option>
		<option value="postcode">Post Code</option>
		<option value="ip">Current Location</option>
	</select>
	<label for="searchDays">Forecase</label>
	<select name="searchDays" id="searchDays">
		<option value="current">Today</option>
		<option value="7_days">1 Week</option>
		<option value="14_days">2 weeks</option>
	</select>
	<input id="searchTerm" type="text">
	<button id="searchSubmit"> Get Results</button>
</div>